html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    min-width: 0px;
}

body {
    background-color: #08003a;
    font-family: Arial, sans-serif;
}

.heading_text {
    text-align: center;
    font-size: 3rem;
    color: azure;
}

.log_in_box {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
    border:#3d385d solid 2px;
    width: 60%;
    border-radius: 6px;
    margin: 0 auto;
}

.log_in_box_username {
    color: azure;
    margin-left: 10px;
    margin-top: 15px;
}

.text_input {
    color: #000000;
    margin: 10px; 
    box-sizing: border-box;
    width: auto;
    padding: 8px 20px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

.log_in_box_email {
    color: azure;
    margin-left: 10px;
    margin-top: 5px;
}

.log_in_box_password {
    color: azure;
    margin-left: 10px;
    margin-top: 5px;
}

#togglePassword {
    cursor: pointer;
    color: azure;
    font-size: 1rem;
    text-align: end;
    padding-right: 10px;
}

.submit {
    background-color: #3d385d;
    color: azure;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.submit:hover{
    background-color: #08003a;
}